:root {
  --bg-gray: #f6f7f9;
}

.attr-item-box {
  .bg-item {
    width: 100%;
    padding: 5px;
    display: flex;
    flex: 1;
    justify-content: space-between;
    border-radius: 5px;
    background: #f6f7f9;
  }
}
